<html>
    <head>
        <title>Mari's Blog</title>
    </head>
    <body>
      <div>
        <h1><a href="">Mari's Blog</a></h1>
      </div>

      <div>
        <p>publicado em: 14/05/2016 às 17:00</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>Nem acredito que tô conseguindo escrever isso</p>
      </div>

      <div>
        <p>Publicado em: 14/05/2016 às 17:02</p>
        <h2><a href="">Meu segundo post</a></h2>
        <p>Ficou até mais fácil criar esse segundo post</p>
      </div>
    </body>
</html>
